.courses-grid {
  margin: 50px auto;
  max-width: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 250px;
  grid-gap: 20px; }
  .courses-grid .courses-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #000 url("/images/corporate-marketing.jpg") no-repeat center center/cover; }
    .courses-grid .courses-grid-item p {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 37px;
      font-weight: 700;
      margin-bottom: 50px; }
    .courses-grid .courses-grid-item span {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 20px; }
    .courses-grid .courses-grid-item:last-child {
      grid-column: span 2; }

.courses-main {
  max-width: 900px;
  margin-left: 400px;
  box-sizing: border-box;
  margin-bottom: 110px;
  margin-top: 70px; }
  .courses-main .courses-main-header {
    background: #000 url("/images/1544538916_01.png") no-repeat left bottom/cover;
    height: 150px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end; }
  .courses-main .courses-main-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 25px; }

aside {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  background-color: #1c1c1c;
  width: 400px;
  height: calc(100% - 70px);
  left: 0;
  top: 70px;
  position: fixed; }
  aside ul li {
    cursor: pointer; }
    aside ul li a {
      position: relative;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
      padding: 20px;
      border-bottom: 1px solid #2d2d2d;
      display: block; }
      aside ul li a span {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        position: absolute;
        top: 3px;
        padding-left: 10px; }
    aside ul li.parent {
      position: relative;
      transition: all 1s; }
      aside ul li.parent:after {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 15px;
        background: url("/images/nav-plus.png") no-repeat center center/cover; }
      aside ul li.parent.open {
        color: #37a2e9; }
        aside ul li.parent.open > a {
          color: #37a2e9; }
        aside ul li.parent.open:after {
          background-image: url("/images/nav-x.png"); }
      aside ul li.parent > ul {
        overflow: hidden;
        transition: height 1s;
        height: 0; }
        aside ul li.parent > ul li.active a {
          color: #fee300; }
        aside ul li.parent > ul li a {
          border-bottom: 1px solid #2d2d2d;
          background-color: #101010; }

input[name="search"] {
  width: 430px;
  background: #eeeeee url("/images/search.png") no-repeat calc(100% - 10px) center; }

.courses-progress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
  align-items: center;
  align-content: center;
  grid-gap: 40px; }
  .courses-progress .form.row {
    display: flex;
    justify-content: flex-end; }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.courses-main-grid {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px; }
  .courses-main-grid .courses-main-grid-item {
    height: 305px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background: #efefef url("") no-repeat left center/cover; }
    .courses-main-grid .courses-main-grid-item .data {
      width: 313px; }
    .courses-main-grid .courses-main-grid-item.black {
      background: #efefef url("") no-repeat left center/cover; }
      .courses-main-grid .courses-main-grid-item.black p {
        color: #ffffff; }
      .courses-main-grid .courses-main-grid-item.black ul li {
        color: #ffffff; }
    .courses-main-grid .courses-main-grid-item p {
      color: #000000;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 20px; }
    .courses-main-grid .courses-main-grid-item ul li {
      list-style: square inside;
      color: #000000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; }

.courses-main-list {
  padding: 20px 30px 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px; }
  .courses-main-list .courses-main-list-item {
    display: grid;
    grid-template-columns: 80px 100px 1fr 20px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    grid-gap: 20px; }
    .courses-main-list .courses-main-list-item .name {
      color: #000000;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 400;
      line-height: 45px; }
    .courses-main-list .courses-main-list-item .title {
      color: #000000;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 700;
      line-height: 45px; }
    .courses-main-list .courses-main-list-item.complete .name, .courses-main-list .courses-main-list-item.complete > img, .courses-main-list .courses-main-list-item.complete .title {
      opacity: 0.3; }

.them-progress {
  padding: 10px 50px; }

.lesson {
  margin: 50px auto;
  padding: 50px 0 50px 50px; }
  .lesson iframe {
    width: 100%;
    height: 430px; }
  .lesson .lesson-title {
    color: #000000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 20px; }
  .lesson .text {
    margin-top: 20px;
    margin-bottom: 40px; }
    .lesson .text p {
      color: #515151;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 21px; }
  .lesson .button {
    margin-bottom: 10px;
    height: 50px;
    justify-content: flex-start; }
  .lesson .test-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 40px; }
    .lesson .test-button-container .button {
      width: 215px;
      height: 60px;
      color: #010101;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      text-transform: uppercase;
      justify-content: center; }
